:root {
  --primary-white-color: #ffffff;
  --secongary-background-color: #00816a;
  --accent-background-color: #00bf96;
  --primary-font-color: #396;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}

.container {
  padding: 30px;
  width: 900px;
}

.title {
  margin-top: 0;
  text-align: center;
  color: var(--primary-font-color);
  font-weight: 100;
  font-size: 40px;
}

.timer {
  display: flex;
  justify-content: center;

  margin: -20px;
  font-family: sans-serif;
  color: var(--primary-white-color);
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.field {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;
  background: var(--accent-background-color);
  display: inline-block;
}
.value {
  padding: 15px;
  border-radius: 3px;
  background: var(--secongary-background-color);
  display: inline-block;
}

.label {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}

.admin-timer-api__title {
  margin-top: 0;
  text-align: center;
  color: var(--primary-font-color);
  font-weight: 300;
  font-size: 30px;
}

.admin-timer-api {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.admin-timer-api__btn {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  min-width: 150px;
  cursor: pointer;

  background-color: var(--secongary-background-color);
  color: var(--primary-white-color);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

.admin-timer-api__btn:hover,
.admin-timer-api__btn:focus {
  background-color: var(--accent-background-color);
}
